{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Пополнение баланса</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}"> <!-- Link to external stylesheet -->
    <link rel="stylesheet" href="{% static 'css/loader.css' %}">
    <link rel="stylesheet" href="{% static 'css/my.css' %}">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="wrapper">
    <nav id="header-section" class="navbar navbar-expand-lg navbar-dark bg-dark" style="display: none">
        <a class="navbar-brand" href="/">Unmasking™</a>
        <button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto" id="AuthMenu">
                <li class="nav-item">
                    <a class="nav-link open-popup-btn" data-popup-id="loginPopup" href="#" onclick="location.href='#'">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link open-popup-btn" id="register-button" data-popup-id="registerPopup" href="#" onclick="location.href='#'">Register</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto" id="userProfileMenu">
            <li class="nav-item" id="userProfile">
                <div class="dropdown profile-context-menu" style="display: flex">
                    <div class="user-avatar-mini-container">
                        <img src="/media/profiles/default.png" alt="User Avatar" class="rounded-circle avatar-img overflow-hidden" id="avatarImg">
                    </div>
                    <a class="nav-link dropdown-toggle" href="#" role="button" id="userDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Username
                    </a>

                    <div class="dropdown-menu profile-menu" aria-labelledby="userDropdown">
                        <a class="dropdown-item profile" href="/">Главная</a>
                        <a class="dropdown-item" href="#">Пополнение</a>
                        <span class="dropdown-item user-balance">Баланс: <span id="user-balance-amount">0</span>&#8381;</span>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#" id="logoutButton">Выйти</a>
                    </div>

                </div>
            </li>
        </ul>
        </div>
    </nav>
    <div id="loader">
        <div class="ls-particles ls-part-1"></div>
        <div class="ls-particles ls-part-2"></div>
        <div class="ls-particles ls-part-3"></div>
        <div class="ls-particles ls-part-4"></div>
        <div class="ls-particles ls-part-5"></div>
        <div class="lightsaber ls-left ls-green"></div>
        <div class="lightsaber ls-right ls-red"></div>
    </div>
    <div class="main-section" id="main-section">
        <form class="topUpForm container">
            <div class="row">
                <label for="top-up-amount">Выберите сумму пополнения</label>
                <input id="top-up-amount" type="number" min="1" placeholder="Сумма в &#8381;">
            </div>
        </form>
    </div>
    <footer class="footer" id="footer">
    <div class="container">
        <p>&copy; 2023 Unmasking. All rights reserved.</p>
    </div>
    </footer>
    </div>
    <script src="{% static 'js/common.js' %}" defer></script>
    <script src="{% static 'js/topup.js' %}"></script>
</body>
</html>